h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fee3e3;
}

.container {
  margin: 20px auto;
  padding: 20px;
  background-color: #e2c6c6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.search-form {
  padding: 20px;
  position: sticky;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #797676;
}

input {
  margin-right: 10px;
  padding: 10px;
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #2a5077;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.photo-card {
  width: calc(33.33% - 10px);
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ccc;
}

.info {
  padding: 10px;
}

.info-item {
  margin: 0;
  font-size: 14px;
  color: #555;
}

.load-more {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.load-more:hover {
  background-color: #218838;
}
